
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  /* background-color: rgba(35, 40, 50, .3); */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#tsparticles {
  min-width: 100%;
  min-height: auto;
}